@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #292929;
  background: url('../img//bg.jpg') center center / cover no-repeat;
}

body::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

h1, h2 {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

hr {
  margin: auto;
  margin-bottom: 20px;
  height: 1px;
  border: none;
  background-color: blueviolet;
}

img {
  width: 100%;
}

form {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 3px;
  font-family: inherit;
}

form input:focus {
  outline: 0;
}

form button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  color: white;
  background-color: #5F058B;
  border-radius: 3px;
}

input,
textarea,
button,
select,
span,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.error {
  color: crimson;
  margin: 15px 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
  overflow-x: hidden;
}

/* Navbar */
header {
  color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container a {
  text-decoration: none;
}

header .container h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  gap: 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* Home */
.home {
  width: 100%;
}

/* PlayList */
.playlist {
  max-width: 650px;
  margin: auto;
  color: white;
  padding: 15px 20px;
  margin-bottom: 3px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
}

.playlist__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.playlist__description span {
  cursor: pointer;
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px #333;
}

.playlist__description:last-child {
  margin-bottom: 0px;
}

.playlist .fa-compact-disc {
  font-size: 0.8rem;
  margin-right: 5px;
}

.is__play {
  color: #8A088E;
}

/* Player */
.player {
  max-width: 650px;
  margin: auto;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 200px);
  gap: 3px;
}

.player .player__speaker {
  position: relative;
  border-radius: 5px;
  background-color: #98633B;
  box-shadow: 0 4px 0 #5A3828;
}

.player .player__speaker__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ddd;
  background-color: #5A3828;
  z-index: 1000;
}

.player .player__speaker__item::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid #606060;
}

.player .player__item {
  box-shadow: 0px 4px 0px #42291A;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.player .player__item.one {
  background: url('../img//speaker.jpg') center center / cover no-repeat;
}

.player .player__item.two {
  background-color: #000;
  grid-column: 3 / 5;
}

.brand {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #b3b3b3;
  font-size: 0.7rem;
  text-shadow: 1px 1px 2px #0000;
  font-weight: 700;
}

.diod {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: darkred;
}

.diod.is__play {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: green;
}

.player img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.player img.is__play {
  animation: spin 5s linear infinite;
}

.player .cd__hold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #000;
  z-index: 1000;
  border: 3px solid #606060;
}

.player .player__controls__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player__progress__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  cursor: pointer;
}

.player__progress__bar {
  width: 0;
  height: 3px;
  background-color: #5F058B;
}

.player .player__ctr__btn {
  display: flex;
  gap: 30px;
}

.player button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.player button i {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

.player__item .two {
  position: relative;
}

.player .player__ctr__settings {
  display: flex;
  gap: 20px;
}

.player__ctr__settings button i {
  font-size: 1rem;
}

.fa-rotate-right.is__play {
  color: #8A088E;
}

/* Volume */
.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #d3d3d3;
  width: 0;
  margin: 0;
  padding: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  cursor: pointer;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 7px; 
  background: #04AA6D;
  cursor: pointer;
  border-radius: 3px;
}
.volume-slider::-moz-range-thumb {
  width: 20px; 
  height: 7px; 
  background: #04AA6D;
  cursor: pointer;
  border-radius: 3px;
}
.volume-slider,
.volume-slider:focus-within {
  width: 98%;
  margin: 0 auto;
  transform: scaleX(1);
}

/* Admin */
.admin {
  color: #fff;
  text-align: center;
}

.admin div {
  text-align: center;
  background-color: crimson;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
	cursor: pointer;
}

.admin .input__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.admin .input__file + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  width: 100%;
}

.admin div:hover {
  background-color: red;
}

.admin div .input__file + label {
  cursor: pointer;
}

.admin button {
  border: 0;
  padding: 12px 20px;
  color: #fff;
  font-family: inherit;
  background-color: green;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

.admin table {
  max-width: 900px;
  width: 100%;
  margin: auto;
  text-align: center;

}

.admin table thead {
  border-radius: 5px;
  background-color: #5F058B;
}

.admin table th {
  padding: 10px;
  border: 1px solid #b3b3b3;
}

.admin table td {
  padding: 5px;
  border: 1px solid #b3b3b3;
  background-color: rgba(0,0,0,0.5);
}

.admin img {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.del {
  cursor: pointer;
  color: crimson;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .player .player__ctr__btn {
    flex-direction: column;
  }
}
