@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #292929;
  background: url('../img/drum.jpg') center center / cover no-repeat;
  overflow-x: hidden;
}

body::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

h1, h2 {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

hr {
  margin: auto;
  margin-bottom: 20px;
  height: 1px;
  border: none;
  background-color: blueviolet;
}

img {
  width: 100%;
}

form {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 3px;
  font-family: inherit;
}

form input:focus {
  outline: 0;
}

form button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  color: white;
  background-color: #5F058B;
  border-radius: 3px;
}

input,
textarea,
button,
select,
span,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:focus {
  outline: none;
}

.error {
  color: crimson;
  margin: 15px 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2px 5px;
  overflow-x: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .player .player__ctr__btn {
    flex-direction: column;
  }
}
